Repository coreos/zincati, pull requests merged in 2019-09, with the labels that each got.

#110 zincati: improve logging and metrics
  src/cincinnati/mod.rs
  src/update_agent/actor.rs
Labels: area/observability, kind/enhancement

#126 dist/systemd: don't start Zincati if booted as a live system
  dist/systemd/system/zincati.service
Labels: area/updates, kind/cleanup

#123 zincati: update trait object syntax
  src/cincinnati/mod.rs
  src/strategy/immediate.rs
  src/strategy/mod.rs
Labels: kind/cleanup

#130 Release 0.0.5
  Cargo.lock
  Cargo.toml
Labels: kind/release

#135 identity: expose OS version metrics
  src/identity/mod.rs
Labels: area/node-identity, area/observability, kind/enhancement

#112 rpm-ostree: do not update to already deployed releases
  src/cincinnati/mock_tests.rs
  src/cincinnati/mod.rs
  src/rpm_ostree/actor.rs
  src/rpm_ostree/cli_status.rs
  src/rpm_ostree/mock_tests.rs
  src/rpm_ostree/mod.rs
  src/update_agent/actor.rs
Labels: area/updates, kind/bug

#140 update_agent: introduce some jitter in the refresh loop
  Cargo.lock
  Cargo.toml
  src/update_agent/actor.rs
Labels: area/cincinnati, kind/bug

#141 rpm_ostree/deploy: do not error on exit code 77
  src/rpm_ostree/cli_deploy.rs
Labels: area/rpm-ostree, kind/bug

#121 strategy: add FleetLock cluster-wide reboot coordination
  Cargo.lock
  Cargo.toml
  dist/config.d/30-updates-strategy.toml
  src/config/fragments.rs
  src/config/inputs.rs
  src/config/mod.rs
  src/fleet_lock/mock_tests.rs
  src/fleet_lock/mod.rs
  src/main.rs
  src/strategy/fleet_lock.rs
  src/strategy/immediate.rs
  src/strategy/mod.rs
  tests/fixtures/00-config-sample.toml
Labels: area/updates, kind/new-feature

#134 docs: explain lock-based updates strategy
  docs/usage/auto-updates.md
  docs/usage/updates-strategy.md
Labels: area/docs, area/updates, kind/enhancement, status/on-hold

#146 docs: visualize updates finalization
  README.md
  docs/images/metrics.png
Labels: area/docs, kind/enhancement

#147 identity: rename OS version metrics
  src/identity/mod.rs
Labels: area/node-identity, area/observability, kind/cleanup

#149 fleet_lock: update protocol parameters
  src/fleet_lock/mock_tests.rs
  src/fleet_lock/mod.rs
Labels: area/updates, kind/cleanup

#150 docs: add configuration documentation
  README.md
  docs/usage/configuration.md
Labels: area/docs, kind/enhancement
