Repository coreos/zincati, pull requests merged in 2020-08, with the labels that each got.

#340 docs: add initial scaffolding for GitHub Pages
  docs/_config.yml
  docs/_sass/color_schemes/coreos.scss
  docs/development/cincinnati/protocol.md
  docs/development/development.md
  docs/development/os-metadata.md
  docs/development/update-strategy-periodic.md
  docs/favicon.ico
  docs/index.md
  docs/usage/auto-updates.md
  docs/usage/configuration.md
  docs/usage/logging.md
  docs/usage/metrics.md
  docs/usage/updates-strategy.md
  docs/usage/usage.md
Labels: area/docs, area/usability, kind/enhancement

#336 ci: bump toolchain for lints on Travis
  .travis.yml
  src/weekly/mod.rs
Labels: kind/cleanup

#341 cargo: add homepage
  Cargo.toml
Labels: area/docs, kind/enhancement

#342 docs: misc cleanups
  docs/_config.yml
  docs/favicon.ico
Labels: area/docs, kind/cleanup

#348 docs: Fix development link in contributing doc
  docs/contributing.md
Labels: area/docs, kind/cleanup
