Repository coreos/zincati, pull requests merged in 2020-10, with the labels that each got.

#368 rpm_ostree: Use rename_all = kebab-case
  src/rpm_ostree/cli_status.rs
  tests/fixtures/rpm-ostree-status.json
Labels: area/rpm-ostree, kind/cleanup

#372 cargo: remove carets from semver requirements
  Cargo.toml
Labels: area/dependencies, kind/bug

#375 cargo: switch to latest url version for serde support
  Cargo.lock
  Cargo.toml
Labels: area/dependencies, kind/cleanup

#376 ci: bump linting toolchain in Travis
  .travis.yml
Labels: area/testing, kind/enhancement

#367 cincinnati: expose dead-end release information via MOTD
  Cargo.lock
  Cargo.toml
  Makefile
  dist/polkit-1/actions/org.coreos.zincati.deadend.policy
  dist/polkit-1/rules.d/zincati.rules
  src/cincinnati/mod.rs
  src/cli/mod.rs
  src/main.rs
Labels: area/cincinnati, area/usability, kind/enhancement

#380 cli: split subcommands logic out of main
  src/cli/agent.rs
  src/cli/deadend.rs
  src/cli/mod.rs
  src/main.rs
Labels: kind/cleanup

#379 cincinnati: swap order of dead-end refreshing logic
  src/cincinnati/mod.rs
Labels: area/cincinnati, kind/cleanup

#385 docs/dev: fix fleetlock documentation
  docs/development/fleetlock/protocol.md
  src/fleet_lock/mod.rs
Labels: area/docs, kind/cleanup

#384 cli/deadend: rework errors with relevant context
  src/cli/deadend.rs
Labels: area/usability, kind/cleanup

#387 docs/dev: add graph for actors and interactions
  docs/images/zincati-actors.dot
  docs/images/zincati-actors.png
Labels: area/docs, kind/enhancement

#386 zincati.service: run after systemd-machine-id-commit.service
  dist/systemd/system/zincati.service
Labels: area/updates, area/usability, kind/cleanup

#389 docs/dev: describe agent design and actor system
  docs/development/agent-actor-system.md
  docs/development/os-metadata.md
  docs/development/update-strategy-periodic.md
Labels: area/docs, kind/enhancement
